@import 'styles/variables'

.post-page
  box-sizing: border-box
  width: 100%

  .title
    font-size: 36px
    font-weight: 500
    color: $black
    margin: 30px 0
    line-height: 1.2
    font-family: $play-fair

  .meta
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 30px

  .category
    display: inline-block
    text-align: center
    padding: 0 20px
    font-size: 12px
    color: $black
    font-family: $open-sans
    font-weight: 500
    line-height: 28px
    background: $lynx-white
    margin-right: 10px
    text-transform: uppercase

    &:hover
      background: $black
      color: $white

  .date
    display: inline-block
    float: right
    font-size: 12px
    color: $black

  .content
    white-space: pre-line
    margin-bottom: 55px
