@import 'styles/variables'

.post-page
  box-sizing: border-box
  width: 100%

  .title
    font-size: 36px
    font-weight: 500
    color: $black
    margin: 30px 0
    line-height: 1.2
    font-family: $play-fair

  .thumbnail
    display: block

  .thumbnail-image
    max-width: 100%
    max-height: 270px
    display: block
    margin: 0 auto

  .caption
    text-align: center
    color: $america-river
    font-size: 13px

  .meta
    display: flex
    justify-content: left
    align-items: center
    margin-bottom: 30px

    .icon
      margin-right: 10px

    .category
      display: inline-block
      color: $black
      margin-right: 10px

      &:hover
        color: $belize-hole

    .date
      display: inline-block
      float: right
      color: $black

  .content
    white-space: pre-line
    margin-bottom: 55px
