@import 'styles/variables'

.post-card
  background-color: $lynx-white
  display: inline-block
  margin: 0 0 60px 0
  color: black

  &.small
    flex: 0 0 100%

  &.medium
    flex: 0 0 47.5%

  &.large
    flex: 0 0 30%

  &:hover
    box-shadow: 0 20px 30px $silver
    background-color: white

  .thumbnail
    width: 100%
    height: 185px
    position: relative
    overflow: hidden
    background-color: $america-river

  .thumbnail-image
    width: 100%

  .detail
    width: 100%
    padding: 20px 30px 30px 30px
    box-sizing: border-box
    height: 220px

  .title
    color: $black
    font-size: 18px
    line-height: 27px
    font-family: $play-fair
    font-weight: 700
    margin-bottom: 10px

  .content
    color: $black

  .meta
    display: flex

    .date
      flex: 2
      margin-bottom: 10px
      text-align: right

    .icon
      margin-right: 10px

    .category
      flex: 3
