// Colors
$white: #ffffff
$black: #000000

// Flat colors
// https://flatuicolors.com/palette/defo
// https://flatuicolors.com/palette/gb
$st-tropaz: #2c689c
$wet-asphalt: #34495e
$asbestos: #7f8c8d
$belize-hole: #2980b9
$concrete: #95a5a6
$silver: #bdc3c7
$midnight-blue: #2c3e50
$lynx-white: #f5f6fa

// Fonts
$play-fair: 'Playfair Display', serif
$open-sans: 'Open Sans', sans-serif

// Sizes
$max-width: 1130px // = postCardWidth / flexBasic + paddingLeft + paddingRight = 330px / 0.3 + 15px * 2
$min-width: 360px
