@import 'styles/variables'

.header
  .topbar
    display: flex
    height: 121px
    width: 1140px
    margin: 0 auto
    padding: 18px 0
    align-items: center
    box-sizing: border-box

    .logo
      flex: 1
      font-size: 60px
      text-align: center
      color: $mine-shaft

    .social-media
      flex: 1
      font-size: 52px
      text-align: left

      .facebook
        color: #3B5998

      .github
        color: $mine-shaft

      .icon
        margin-right: 12px

    .pages
      flex: 1
      text-align: right
      font-size: 16px

      .page
        color: $mine-shaft
        margin-left: 20px
