@import 'styles/variables'

body, input, button
  margin: 0
  font-family: $open-sans
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: 14px
  font-weight: 400
  line-height: 24px
  color: $storm-gray

button
  font-size: 17px
  color: $haiti

input
  color: $haiti

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

a, a:visited, a:hover
  text-decoration: none
  color: $storm-gray

h1, h2, h3, h4, h5, h6
  line-height: 1.2
  font-family: $play-fair
  font-size: 36px
  font-weight: 500
  color: $haiti
  margin-bottom: 20px
  margin-top: 30px

.disable-list-style
  list-style: none
  padding: 0
